.Page{
  background-color: lightslategray;
  font-size: xx-large;
  font-style: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height:36rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 235, 205);
  width:30%;
  padding: 5%;
  border: 1rem;
  border-radius: 3rem;
}

/* .bg{
background-color: rgb(140, 140, 140);
margin: auto;
height: 100%;
width: 100%;
} */

.form{
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.label{
  padding: 0.5%;
  font-size: small;
}

.input{
  background-color: rgb(236, 235, 205);
  border-bottom: 1rem;
  border-bottom: black;
  padding-top: 2%;
  margin-top: -5px;
}

.button{
  background-color: rgb(34, 34, 95);
  font-style: rgb(220, 220, 220);
  border: rgb(34, 34, 95);
  border-radius: 2px;
}